.credit-card {
  min-height: 50px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.credit-card button {
  margin-top: 15px;
}

.error {
  color: red;
  background: rgb(233, 173, 76);
  font-weight: bold;
}
